.CommunitySection {
  padding: 10vh 0;
  background-color: #fff3f6;
}

.CommunityContent {
  display: flex;
  justify-content: space-between;
}

.CommunityTitle {
  display: flex;
  align-items: center;
}

.CommunityTitle h3 {
  text-size-adjust: none;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 16px;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 1220px) {
  .CommunityContent {
    flex-direction: column;
  }
}
