.changelogList {
  border-radius: 1.5rem;
  padding: 0;
}

.changelogList li {
  list-style: none;
}

.changelogList a {
  text-decoration: inherit;
  overflow: hidden;
  color: #4a596b;
  display: grid;
  align-items: flex-start;
  border-radius: 0.75rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 1.5rem;
}

.changelogList a:hover {
  background-color: rgba(248, 247, 252, 0.5);
}

.changelogTitle {
  grid-column: span 3 / span 3;
}

.changelogTitle h4 {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  color: #142032;
}
.changelogTitle p {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 10px;
  vertical-align: bottom;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.faststore {
  background-color: #142032;
  color: white;
}

.webops {
  background-color: #f71963;
  color: white;
}

.descriptionChangelog {
  margin: 0;
  grid-column: span 3 / span 3;
  text-align: justify;
}

.changelogList time {
  grid-row-start: 1;
  display: flex;
  align-items: center;
  font-weight: 500;
  grid-column: 1 / span 2;
  grid-row-end: 3;
  margin: 0 24px;
}

li:first-child time {
  padding-top: 16px;
}

.changelogList time svg {
  margin-right: 1.5rem;
  height: 0.75rem;
  width: 0.75rem;
  overflow: visible;
  color: #4a596b;
}

li:first-child svg circle {
  color: #e31c58;
}

@media only screen and (max-width: 721px) {
  .changelogList a {
    grid-template-columns: auto;
  }
  .changelogTitle {
    margin-left: 3.6rem;
  }

  .descriptionChangelog {
    margin-left: 3.6rem;
  }
}
